<div class="hero-container">
    <!-- Header con logo y botones -->
    <header class="header">
        <div class="logo-container">
            <img src="../../../../../assets/icons/Favicon.png" alt="Logo" class="logo-img"  class="w-9 h-9 mr-1" style="margin-top: -10px;">

            <p class="logo-text">
                <span class="text-blue">PESCA</span><span class="text-black">MAX</span>
            </p>
        </div>
        <p class="producto">
            <span class="producto">Productos</span>
        </p>
        <p class="Noticias">
            <span class="noticias">Noticias</span>
        </p>


        <nav class="nav-buttons">
            <a href="http://localhost:4200/login" class="btn btn-login">Ingresar</a>
            <a href="http://localhost:4200/register" class="btn btn-register">Registrate</a>
        </nav>
    </header>

    <!-- Contenido principal -->
    <main class="main-content">
        <div class="left-content">
            <div class="top-text">
                <h1 class="main-title text-transform: uppercase">BIENVENIDO A PESCAMAX</h1>
                <p class="main-subtitle text-transform: uppercase">LA MEJOR PLATAFORMA PARA EL MONITOREO DE TUS PECES</p>
                <p class="start-text">Empieza con nosotros</p>
                <a href="http://localhost:4200/login" class="btn btn-login">Ingresar</a>
            </div>
        </div>
        <div class="right-content">
            <!-- Nuevo texto en el centro -->
            <p class="new-text">El objetivo principal de Pescamax es simplificar y hacer más accesible la piscicultura, convirtiéndola en un negocio más rentable y sostenible a largo plazo para todas las personas interesadas.</p>
        </div>
    </main>
</div>

<div class="carousel">
    <img *ngFor="let image of carouselImages; let i = index" 
         [src]="image" 
         [class.active]="i === activeImageIndex" 
         alt="Fondo {{i + 1}}">
  </div>
  

<!-- Sección Sobre Nosotros -->
<section class="about-us">
    <div class="about-content">
        <h2>Sobre Nosotros</h2>
        <p>
            El objetivo principal de Pescamax es simplificar y hacer más accesible la piscicultura, convirtiéndola en
             un negocio más rentable y sostenible a largo plazo para todas las personas interesadas.
        </p>
    </div>
    <div class="about-image">
    
    </div>
</section>
<section class="equipo-tra">
    <div class="equipo-trabajo">
        <h2>Equipo de trabajo</h2>
        <p>
            El objetivo principal de Pescamax es simplificar y hacer más accesible la piscicultura, convirtiéndola en
             un negocio más rentable y sostenible a largo plazo para todas las personas interesadas.
        </p>
    </div>
    
    
    
</section>
