<div class="hero-container">
    <!-- Header con logo y botones -->
    <header class="header">
        <div class="logo-container">
            <img src="../../../../../assets/icons/Favicon.png" alt="Logo" class="logo-img">
            <p class="logo-text">
                <span class="text-blue">PESCA</span><span class="text-black">MAX</span>
            </p>
        </div>
        <nav class="nav-buttons">
            <a href="http://localhost:4200/login" class="btn btn-login">Login</a>
            <a href="http://localhost:4200/register" class="btn btn-register">Registrate</a>
        </nav>
    </header>


    <!-- Contenido principal -->
    <main class="main-content">
        <h1 class="main-title 	text-transform: uppercase">Bienvenido a PESCAMAX</h1>
        <p class="main-subtitle 	text-transform: uppercase">La mejor plataforma para el monitoreo de tus peces</p>
    </main>
</div>

<!-- Sección Sobre Nosotros -->
<section class="about-us">
    <div class="about-content">
        <h2>Sobre Nosotros</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut maxime distinctio dolorem quod ab accusamus, necessitatibus aspernatur aliquid tempore veritatis, placeat unde magni sint ullam totam impedit eaque facilis suscipit?
            Voluptatem eaque aut quasi sequi laborum labore fugit? Cum maiores consequatur a nisi temporibus eos perferendis vero voluptates enim ab corrupti deserunt, velit porro sapiente accusamus numquam voluptatum magnam asperiores!
            Nemo fugit voluptatum in autem eius similique cum ullam perferendis molestiae aliquid recusandae deserunt rerum, minus libero dolor qui itaque expedita, voluptas sapiente quae inventore nobis! Non accusamus aut possimus.
            Cupiditate dolor nobis alias quae eius fuga libero minus! Explicabo laborum delectus expedita qui officiis, doloribus voluptas nemo magni eveniet natus minus saepe non a eos sed reiciendis quae similique.
            Tempora neque quae cum in esse possimus consectetur nobis, earum voluptatem provident, eum repellendus. Explicabo tempore eveniet voluptatem! Laborum repellendus numquam quasi? Mollitia suscipit corporis praesentium maxime quia, quidem ratione!
        </p>
    </div>
    <div class="about-image">
        <!-- Puedes agregar una imagen aquí si lo deseas -->
    </div>
</section>

