@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
/* Estilo de los inputs por defecto */
input {
    width: 100%;
    padding: 12px 8px;
    background-color: #f3f3f3;
    border: 2px solid transparent; /* Sin borde visible */
    border-radius: 6px;
    outline: none; /* Eliminar el borde predeterminado al hacer foco */
    transition: border-color 0.1s ease;
  }
  
  /* Estilo al hacer foco (focus) en el input */
  input:focus {
    border-color: #3b82f6; /* Borde azul sólido */
  }
  



body {
    height: 100vh;
    background: #b7e2fff5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}


.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0 40px;
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-up-container h1 {
  font-size: 28px; /* Ajusta el tamaño según tus necesidades */
  font-weight: 500;
  color: #007bff;

}




.sign-in-container {
    z-index: 2;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

/* aqui */
/* Estilos del título */
.sign-in-container h1 {
    font-size: 28px; /* Ajusta el tamaño según tus necesidades */
    font-weight: 500;
    color: #007bff;
}






.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

span {
    font-size: 13px;
    color: #1f1f1f;

}

.infield {
    position: relative;
    margin: 8px 0;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: var(--linear-grad);
    transition: 0.3s;
}

input:focus ~ label {
    width: 100%;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

a.forgot {
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
}

.boton-enviar {
    background-color: #3b82f6; /* Color azul original */
    color: white;
    border-radius: 20px;
    padding: 12px 45px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .boton-enviar:hover {
    background-color: #2563eb; /* Color azul más oscuro al pasar el cursor */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra para efecto 3D */
  }



  .blue-hover {
    color: #3b82f6; /* Color del texto */
    transition: color 0.1s ease-in-out, border-bottom 0.1s ease-in-out; /* Transición suave */
    border-bottom: 1px solid transparent; /* Sin borde inicialmente */
  }
  
  .blue-hover:hover {
    color: #2563eb; /* Tono más oscuro de azul */
    border-bottom: 1px solid #2563eb; /* Línea debajo del texto con el mismo color */
  }


  

  


  /* Estilos para el botón */
   .ghost {
    background: transparent; /* Fondo transparente */
    color: white; /* Texto blanco */
    border: 2px solid white; /* Borde blanco */
    border-radius: 20px;
    padding: 8px 16px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
   
    }
  
   .ghost:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco transparente */
    color: white; /* Texto blanco */
    }


.ghost2 {
     background: transparent; /* Fondo transparente */
     color: white; /* Texto blanco */
     border: 2px solid white; /* Borde blanco */
     border-radius: 20px;
     padding: 8px 16px; /* Espaciado interno */
     font-size: 16px; /* Tamaño de fuente */
     cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
     transition: background-color 0.3s, color 0.3s; /* Transición suave */
     margin-top: 170px;
          
  }

    .ghost2:hover {
     background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco transparente */
     color: white; /* Texto blanco */

   }
   


   .btn-enviar {
    margin-top: 78px; /* Ajusta este valor según el espacio que desees */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido horizontalmente */
    width: 100%; /* Asegura que el ancho sea del 100% para centrado */

   }





    .no-cuenta{
        margin-top: 77px;
    }
  

  

.overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

.overlay {
    position: relative;
    background: var(--linear-grad);
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left {
    background-color: #3B82F6;
    right: 60%;
    transform: translateX(-12%);
}

.overlay-panel img {
    margin-bottom: 30px; /* Ajusta este valor según el espacio que desees */
    margin-top: 30px;
  }
  

.overlay-right {
    background-color: #3B82F6;
    right: 0;
    transform: translateX(0%);
}

.overlay-panel h1 {
    color: #fff;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0 35px;
}

.overlay-panel button {
    background-color: transparent;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
}

.right-panel-active .overlay {
    transform: translateX(50%);
}

.right-panel-active .overlay-left {
    transform: translateX(25%);
}

.right-panel-active .overlay-right {
    transform: translateX(35%);
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.btnScaled {
    animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
    0% {
        width: 143.67px;
    }
    50% {
        width: 250px;
    }
}

.alert {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    body {
        padding: 20px;
    }

    .container {
        width: 100%;
        height: auto;
        min-height: 500px; /* Add this line */
        box-shadow: none;
        border-radius: 13px;
        overflow: visible; /* Add this line */
    }

    .form-container {
        position: static;
        width: 100%;
        padding: 20px;
        display: none;
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
        justify-content: center;
    }

    .sign-in-container.active,
    .sign-up-container.active {
        display: flex;
    }

    #overlayBtn, .overlay-container {
        display: none;
    }

    .overlay-container-mobile {
        display: block;
        background-color: #3B82F6;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 13px;
        margin-top: 20px;
    }

    .overlay-panel-mobile h1 {
        color: white;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .overlay-panel-mobile p {
        margin-bottom: 20px;
    }

    .overlay-panel-mobile button {
        background-color: white;
        color: #3B82F6;
        border: none;
        padding: 12px 45px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (min-width: 920px) {
    
    .container {
        width: 90%;
        height: 500px;
    }

    .form-container {
        position: absolute;
        width: 60%;
        padding: 0 40px;
        transition: all 0.6s ease-in-out;
        display: flex;
    }

    .sign-up-container {
        opacity: 0;
        z-index: 1;
    }

    .sign-in-container {
        z-index: 2;
    }

    .overlay-container {
        display: block;
        position: absolute;
        top: 0;
        left: 60%;
        width: 40%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 9;
    }

    .overlay-container-mobile {
        display: none;
    }

    .right-panel-active .sign-in-container {
        transform: translateX(20%);
        opacity: 0;
    }

    .right-panel-active .sign-up-container {
        transform: translateX(66.7%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }
}

@media (min-width: 1024px) {
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 500px;
    }

    .form-container {
        width: 60%;
        padding: 0 40px;
    }
}