<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <div class="infield">
        <input type="text" formControlName="name" placeholder="Name" />
      </div>
      <div class="infield">
        <input type="email" formControlName="email" placeholder="Email" />
      </div>
      <div class="infield">
        <input type="password" formControlName="password" placeholder="Password" />
      </div>
      <button type="submit" style="background-color: #3B82F6;">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <div class="infield">
        <input type="email" formControlName="email" placeholder="Email" />
      </div>
      <div class="infield">
        <input type="password" formControlName="password" placeholder="Password" />
      </div>
      <a href="#" class="forgot">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container" id="overlayCon">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button (click)="showSignIn()">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button (click)="showSignUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container" id="container">
  <div class="form-container sign-up-container">
      <form action="#">
          <h1>Create Account</h1>
          <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <div class="infield">
              <input type="text" placeholder="Name" />
              <label></label>
          </div>
          <div class="infield">
              <input type="email" placeholder="Email" name="email"/>
              <label></label>
          </div>

          <div class="infield">
              <input type="password" placeholder="Password" />
              <label></label>
          </div>
          <button style="background-color: #3B82F6;">Sign Up</button>
      </form>
  </div>
  <div class="form-container sign-in-container">
      <form action="#">
          <h1>Sign in</h1>
          <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your account</span>
          <div class="infield">
              <input type="email" placeholder="Email" name="email"/>
              <label></label>
          </div>
          <div class="infield">
              <input type="password" placeholder="Password" />
              <label></label>
          </div>
          <a href="#" class="forgot">Forgot your password?</a>
          <button>Crear cuenta</button>
      </form>
  </div>
  <div class="overlay-container" id="overlayCon">
      <div class="overlay">
          <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button>Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start journey with us</p>
              <button>Sign Up</button>
          </div>
      </div>
      <button id="overlayBtn"></button>
  </div>
</div> -->