<div class="container flex-1 text-gray-900 mx-auto bg-custom-gray">
  <!-- Vista de tabla para pantallas medianas y grandes -->
  <div class="hidden md:block px-3 py-4 flex justify-center">
    <div class="table-container">
      <table class="w-full text-md bg-white shadow-md rounded mb-4">
        <thead>
          <tr class="border-b sticky-header">
            <th class="text-left p-3 px-5">Nombre Especie</th>
            <th class="text-left p-3 px-5">Lote ID</th>
            <th class="text-left p-3 px-5">Descripción</th>
            <th class="text-left p-3 px-5">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alerta of alertasFiltradas" class="border-b hover:bg-orange-100">
            <td class="p-3 px-5">{{ alerta.Nombre }}</td>
            <td class="p-3 px-5">{{ alerta.LoteID }}</td>
            <td class="p-3 px-5">{{ alerta.Descripcion }}</td>
            <td class="p-3 px-5">{{ alerta.FechaCreacion | date:'medium' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Vista de tarjetas para dispositivos móviles -->
  <div class="md:hidden px-3 py-4">
    <div *ngFor="let alerta of alertasFiltradas" class="bg-white rounded-lg shadow-md p-4 mb-4">
      <h3 class="font-bold text-lg mb-2">{{ alerta.Nombre }}</h3>
      <p><strong>Lote ID:</strong> {{ alerta.LoteID }}</p>
      <p><strong>Descripción:</strong> {{ alerta.Descripcion }}</p>
      <p><strong>Fecha:</strong> {{ alerta.FechaCreacion | date:'medium' }}</p>
    </div>
  </div>

  <div *ngIf="mensajeAlerta" class="text-center text-red-500 mt-4">
    {{ mensajeAlerta }}
  </div>
</div>