<div class="min-h-screen flex items-center justify-center">
  <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md sm:p-8"> <!-- Sombra azul más amplia -->
    <div class="flex justify-center mb-8">
      <img src="../../../../../assets/icons/Favicon.png" alt="Miimagen" class="w-16 h-16"><!-- Imagen cambiada -->
    </div>
    <!-- titulo h2 editado -->
    <h2 class=" text-center mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">      
      Recuperar contraseña
    </h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-8"> <!-- Margen inferior aumentado -->
        <label for="email" class="block mb-2 text-sm text-gray-600">Introduce tu correo electrónico para restablecer tu contraseña</label>
        <app-inputs-form
          type="email"
          placeholder="Correo electrónico"
          [(ngModel)]="email"
          name="email"
        ></app-inputs-form>
      </div>
      <div class="flex justify-center"> <!-- Contenedor para centrar el botón -->
        <app-button-guardar 
          [type]="'submit'"
          [texto]="'Enviar'"
          [color]="'blue'"
          [fullWidth]="false">
        </app-button-guardar>
      </div>
    </form>
    <app-alert-form [successMessage]="successMessage" [errorMessage]="errorMessage"></app-alert-form>
      <!-- Aquí aplicas el margen superior -->
      <div class="text-center mt-6"> <!-- Añadido mt-6 para más espacio -->
        <p class="text-sm">Volver a <a href="/login" class="blue-hover">Iniciar sesión</a></p>
      </div>
  </div>
</div>
