<div class="min-h-screen flex items-center justify-center">
  <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
    <div class="flex justify-center mb-8"> 
      <img src="../../../../../assets/icons/Logo_pescamax.png" alt="Logo" class="w-30 h-20">
    </div>
    <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Recuperación de contraseña</h1> 
    <form (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm text-gray-600">Introduce tu correo electrónico para restablecer tu contraseña</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
      </div>
      <button type="submit" class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mt-4 mb-4">Enviar</button>
    </form>
    <app-alert-form [successMessage]="successMessage" [errorMessage]="errorMessage"></app-alert-form>
    <div class="text-center">
      <p class="text-sm">Volver a <a href="/login" class="text-cyan-600">Iniciar sesión</a></p>
    </div>
    <p class="text-xs text-gray-600 text-center mt-8">&copy; 2024.PESCAMAX</p>
  </div>
</div>
