<div class="min-h-screen flex items-center justify-center">
  <div class="max-w-md w-full p-8 bg-white "> <!-- Sombra azul más amplia -->
    <div class="flex justify-center mb-8">
      <img src="../../../../../assets/icons/Logo_pescamax.png" alt="Logo" class="w-30 h-20"><!-- Imagen un poco más grande -->
    </div>
    <h1 class="text-3xl font-semibold text-center text-gray-500 mt-8 mb-6">Recuperación de contraseña</h1> <!-- Título un poco más grande -->
    <form (ngSubmit)="onSubmit()">
      <div class="mb-8"> <!-- Margen inferior aumentado -->
        <label for="email" class="block mb-2 text-sm text-gray-600">Introduce tu correo electrónico para restablecer tu contraseña</label>
        <app-inputs-form
          type="email"
          placeholder="Correo electrónico"
          [(ngModel)]="email"
          name="email"
        ></app-inputs-form>
      </div>
      <button type="submit" class="w-40 bg-blue-500 text-white py-3 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-4 mb-6">Enviar</button> <!-- Botón más grande -->
    </form>
    <app-alert-form [successMessage]="successMessage" [errorMessage]="errorMessage"></app-alert-form>
    <div class="text-center">
      <p class="text-sm">Volver a <a href="/login" class="text-blue-600">Iniciar sesión</a></p> <!-- Color azul para el enlace -->
    </div>
    <p class="text-xs text-gray-600 text-center mt-8">&copy; 2024.PESCAMAX</p>
  </div>
</div>
