.blue-hover {
    color: #2563eb; /* Este es el color de text-blue-600 */
    transition: color 0.3s ease-in-out; /* Transición suave */
  }
  
  .blue-hover:hover {
    color: #32b9e2; /* Un tono más oscuro de azul */
  }
  