<div class="flex">
    <!-- Menu Lateral -->
    <div class="fixed left-0 top-0 h-full ">
        <app-menu-lateral></app-menu-lateral>
    </div>

    <!-- Contenido Principal -->
    <div class="flex-1 p-4">  
      <div class="flex items-center ml-16">
        <img src="../../../../../assets/icons/Logo_pescamax.png" alt="PESCAMAX logo" class="w-8 h-8 mr-2">
        <span class="text-lg font-semibold text-blue-500 hidden md:inline ml6">PESCA<span class="text-black">MAX</span></span>
    </div>   
  <table class="w-full h-full min-height-screen min-width-screen p-0 m-0 overflow-auto">
            <app-tabla-sensor></app-tabla-sensor>
          </table>
    </div>
</div>

