<header>
    <nav>
        <div class="menu-container">
            <div class="logo-container">

            </div>
            <div class="icons">
                <img src="assets/icons/notificacion.png" class="icon" alt="notificaciones">
                <div class="user-container" (click)="toggleMenu()">
                    <img src="assets/icons/userr.png" class="icon user-icon" alt="perfil">
                    <div class="dropdown-menu" *ngIf="isMenuVisible">
                        <a href="#profile">Profile</a>
                        <a href="#settings">Settings</a>
                        <a href="#logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
