<div class="menu-lateral fixed left-0 top-0 h-full w-[250px] bg-gray-800 text-white">
  <app-menu-lateral></app-menu-lateral>
</div>

<div class="content ml-[250px] p-4">
  <div class="flex justify-center mb-4">
    <div class="card bg-blue-500">
      <div class="border-b-2 border-neutral-100 px-6 py-3 text-surface dark:border-white-400/10 dark:text-black">
        Header
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-primary">
          Primary card title
        </h5>
        <p class="text-base text-primary ">
          Some quick example text to build on the card title and make up
          the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-start mb-4">
    <div class="card bg-red-500">
      <div class="border-b-2 border-neutral-100 px-6 py-3 text-surface dark:border-white-400/10 dark:text-black">
        Header
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-primary">
          Primary card title
        </h5>
        <p class="text-base text-primary ">
          Some quick example text to build on the card title and make up
          the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <div class="card bg-yellow-500">
      <div class="border-b-2 border-neutral-100 px-6 py-3 text-surface dark:border-white-400/10 dark:text-black">
        Header
      </div>
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-primary">
          Primary card title
        </h5>
        <p class="text-base text-primary ">
          Some quick example text to build on the card title and make up
          the bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
