<!-- Otros elementos del menú

Mover este botón al final del menú 
<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center ms-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 5H1m0 0l4 4m-4-4l4-4"/>
    </svg>
</button> -->

<div style="background-color: #3B82F6;" class="fixed bottom-0 left-0 right-0 sm:bottom-4 sm:left-auto sm:right-4 md:bottom-8 md:right-8 z-50">
    <a href="http://localhost:4200/Inicio" class="flex items-center justify-center w-full sm:w-auto text-white  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs sm:text-sm px-2 py-2 sm:px-3 sm:py-2 text-center">
        <svg class="w-4 h-4 sm:w-5 sm:h-5 transform rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
        <span class="ml-1 sm:ml-2" style="color: white;">Cerrar Sesión</span>
    </a>
</div>