
<div class="rounded-r bg-white-900 xl:hidden flex justify-between w-full p-6 items-center ">
  <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
  <div class="flex justify-between  items-center space-x-3">
  
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="" fill="white" />
    </svg>
    <p class="text-2xl leading-6 text-blue-300">PESCAMAX</p> <!-- Nombre princiapl -->
  </div>
  <div aria-label="toggler" class="flex justify-center items-center">
    <button aria-label="open" id="open" onclick="showNav(true)" class="hidden focus:outline-none focus:ring-2">
      <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6H20" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M4 12H20" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M4 18H20" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    <button aria-label="close" id="close" onclick="showNav(true)" class=" focus:outline-none focus:ring-2">
      <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 6L18 18" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>
<div id="Main" class="xl:rounded-r transform xl:translate-x-0 ease-in-out transition duration-500 flex justify-start items-start h-full w-full sm:w-64 bg-[#F2F5F7] flex-col"> <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->

  <div class="hidden xl:flex justify-start p-6 items-center space-x-3"width="100%" height="50" viewBox="0 0 10 10" fill="none">
    
    <img src="../../../../../assets/icons/Logo_pescamax.png" alt="Miimagen" class="w-13 h-7"> <!-- Ajusta el tamaño del logo aquí -->
    <p class="text-4xl leading-2">
      <span class="text-blue-500 font-bold">PESCA</span><span class="text-black font-bold">MAX</span>
  </p> 

  </div>
  <div class="flex flex-col justify-start items-center px-6 border-b border-black w-full">
      
  </div>
  <div class="flex flex-col justify-start items-center px-6 border-b border-black w-full">
    <button (click)="toggleSubMenu(1)" class="focus:outline-none focus:text-indigo-400 text-left text-white flex justify-between items-center w-full py-5 space-x-14">
      <p class="text-sm leading-5 uppercase" style="color: black;">Dashboard</p>
      <app-flecha-despliegue></app-flecha-despliegue>
    </button>  
  
    <div *ngIf="subMenuVisible === 1" class="flex flex-col justify-start w-full items-start pb-1">
      <a href="http://localhost:4200/grafica-temperatura" class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
        <img src="../../../../../assets/icons/icons8-temperatura-50.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
        <p class="text-sm leading-5 uppercase">Grafica temperatura</p>
      </a>
  
      <a href="http://localhost:4200/grafica-tds" class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
        <img src="../../../../../assets/icons/icons8-termometro-50.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
        <p class="text-base leading-4">Grafica de TDS</p>
      </a>
  
      <a href="http://localhost:4200/grafica-ph" class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
        <img src="../../../../../assets/icons/icons8-ph-50.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
        <p class="text-base leading-4">Grafica de Ph</p>
      </a>
  
      <a href="http://localhost:4200/tabla-datos" class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
        <img src="../../../../../assets/icons/icons8-crear-nuevo-30.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
        <p class="text-base leading-4  ">Tablas</p>
      </a>
      
    </div>
  </div>
<div class="flex flex-col justify-start items-center px-6 border-b border-black w-full">
    <!-- Tu contenido aquí -->
    <button (click)="toggleSubMenu(2)" class="focus:outline-none focus:text-indigo-400 text-left text-white flex justify-between items-center w-full py-5 space-x-14">
      <p class="text-sm leading-5 uppercase" style="color: black;">Gestion de parametros</p>
      <app-flecha-despliegue></app-flecha-despliegue>
    </button>
    <div  *ngIf="subMenuVisible === 2" class="flex flex-col justify-start items-center px-6 border-b border-white w-full">
      <a 
      href="http://localhost:4200/crear-especie" 
      class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
      <img src="../../../../../assets/icons/icons8-crear-nuevo-30.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
      <p class="text-base leading-4">Crear especie</p>
    </a>
    <div  class="flex flex-col justify-start items-center px-6 border-b border-white w-full">
      <a 
      href="http://localhost:4200/seleccionar-especie" 
      class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
      <img src="../../../../../assets/icons/icons8-natural-user-interface-2-26.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
      <p class="text-base leading-4">Seleccionar especie</p>
    </a>
     <div class="flex flex-col justify-start items-center px-6 border-b border-white w-full">
      <a 
      href="http://localhost:4200/modificar-especie" 
      class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-400 focus:text-white hover:bg-blue-400 text-black rounded px-3 py-2 w-full md:w-52">
      <img src="../../../../../assets/icons/icons8-editar-archivo-30.png" alt="Miimagen" width="20" height="50" viewBox="0 0 10 10" fill="">
      <p class="text-base leading-4">Modificar especie</p>
    </a>
  </div>
    </div>
    </div>
</div>  
<div class="flex flex-col justify-start items-center px-6 border-b border-black w-full">
    <button (click)="toggleSubMenu(3)" class="focus:outline-none focus:text-indigo-400  text-black flex justify-between items-center w-full py-5 space-x-14  ">
      <p class="text-sm leading-5  uppercase">Sistema De Alertas</p>
      <app-flecha-despliegue></app-flecha-despliegue>
    </button>
    <div *ngIf="subMenuVisible === 3"class="hidden flex justify-start flex-col items-start pb-5 ">
      <button class="flex justify-start items-center space-x-6 hover:text-black focus:bg-blue-300 focus:text-black hover:bg-blue-300 text-black rounded px-3 py-2  w-52">
        <img src="../../../../../assets/icons/icons8-ajustes-16.png"alt="Miimagen"width="20" height="50" viewBox="0 0 10 10" fill=>
        <p class="text-base leading-4  ">Alertas recientes</p>
      </button>
      <button class="flex justify-start items-center space-x-6 hover:text-white focus:bg-blue-300 focus:text-white hover:bg-blue-300 text-black rounded px-3 py-2  w-52">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 19C10.2091 19 12 17.2091 12 15C12 12.7909 10.2091 11 8 11C5.79086 11 4 12.7909 4 15C4 17.2091 5.79086 19 8 19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10.85 12.15L19 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M18 5L20 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M15 8L17 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <p class="text-base leading-4  ">Historial de alertas</p>
      </button>
    </div>
  </div>
</div>