<div id="Main" class="xl:rounded-r transform xl:translate-x-0 ease-in-out transition duration-500 flex flex-col justify-start items-start h-full w-full sm:w-72 bg-[#F2F5F7]">
  <!-- Logo -->
  <div class="flex justify-start p-6 w-full h-25">
    <img src="../../../../../assets/icons/Logo_pescamax.png" alt="Logo" class="w-10 h-9 mr-3">
    <p class="text-3xl font-bold">
      <span class="text-blue-500">PESCA</span><span class="text-black">MAX</span>
    </p>
  </div>

  <!-- Menú principal -->
  <nav class="flex flex-col w-full px-4 space-y-6">
    <!-- Panel de control -->
    <div>
      <button (click)="toggleSubMenu(1)" class="flex justify-between items-center w-full py-3 px-4 text-left text-gray-700 hover:bg-blue-100 rounded-lg transition-colors duration-200">
        <span class="text-sm font-medium uppercase">Panel de control</span>
        <svg [ngClass]="{'transform rotate-180': subMenuVisible === 1}" class="w-5 h-5 transition-transform duration-200" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
        </svg>
      </button>
      <div *ngIf="subMenuVisible === 1" class="mt-2 ml-4 space-y-2">
        <a href="/temperatura" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-temperatura-50.png" alt="Temperatura" class="w-5 h-5 mr-3">
          Gráfica temperatura
        </a>
        <a href="/grafica-tds" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-termometro-50.png" alt="TDS" class="w-5 h-5 mr-3">
          Gráfica de TDS
        </a>
        <a href="/grafica-ph" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-ph-50.png" alt="PH" class="w-5 h-5 mr-3">
          Gráfica de Ph
        </a>
        <a href="/home" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/crecimiento.png" alt="General" class="w-5 h-5 mr-3">
          Gráfica General
        </a>
        <a href="/tabla-datos" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-crear-nuevo-30.png" alt="Tablas" class="w-5 h-5 mr-3">
          Tablas
        </a>
      </div>
    </div>

    <!-- Gestión de parámetros -->
    <div>
      <button (click)="toggleSubMenu(2)" class="flex justify-between items-center w-full py-3 px-4 text-left text-gray-700 hover:bg-blue-100 rounded-lg transition-colors duration-200">
        <span class="text-sm font-medium uppercase">Gestión de parámetros</span>
        <svg [ngClass]="{'transform rotate-180': subMenuVisible === 2}" class="w-5 h-5 transition-transform duration-200" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
        </svg>
      </button>
      <div *ngIf="subMenuVisible === 2" class="mt-2 ml-4 space-y-2">
        <a href="/crear-especie" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-crear-nuevo-30.png" alt="Crear" class="w-5 h-5 mr-3">
          Crear especie
        </a>
        <a href="/modificar-especie" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-editar-archivo-30.png" alt="Modificar" class="w-5 h-5 mr-3">
          Modificar Especie
        </a>
        <a href="/seleccionar-especie" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/advertencia.png" alt="Seleccionar" class="w-5 h-5 mr-3">
          Monitoriar Especies
        </a>
      
      </div>
    </div>

    <!-- Sistema de alertas -->
    <div>
      <button (click)="toggleSubMenu(3)" class="flex justify-between items-center w-full py-3 px-4 text-left text-gray-700 hover:bg-blue-100 rounded-lg transition-colors duration-200">
        <span class="text-sm font-medium uppercase">Sistema de alertas</span>
        <svg [ngClass]="{'transform rotate-180': subMenuVisible === 3}" class="w-5 h-5 transition-transform duration-200" viewBox="0 0 24 24">
          <path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
        </svg>
      </button>
      <div *ngIf="subMenuVisible === 3" class="mt-2 ml-4 space-y-2">
        <a href="/alertas-recientes" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/calendario.png" alt="Configuración" class="w-5 h-5 mr-3">
          Configuración de alertas
        </a>
        <a href="/historial-alertas" class="flex items-center py-2 px-4 text-sm text-gray-600 hover:bg-blue-50 rounded-lg">
          <img src="../../../../../assets/icons/icons8-historia-de-la-actividad-50.png" alt="Historial" class="w-5 h-5 mr-3">
          Historial de alertas
        </a>
      </div>
    </div>
  </nav>

  <!-- Botón de cerrar sesión -->
  <div class="mt-auto p-4 w-full">
    <button class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors duration-200">
      Cerrar Sesión
    </button>
  </div>
</div>