<!-- src/app/shared/components/molecules/tabla-seleccionar/tabla-seleccionar.component.html -->
<div class="text-gray-900 bg-gray-200">
    <div class="p-4 flex">
      <h1 class="text-3xl">Seleccionar Especies</h1>
    </div>
    <div class="px-3 py-4 flex justify-center">
      <table class="w-full text-md bg-white shadow-md rounded mb-4">
        <thead>
          <tr class="border-b">
            <th class="text-left p-3 px-5">Nombre</th>
            <th class="text-left p-3 px-5">Lote</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let especie of especies" class="border-b hover:bg-orange-100">
            <td class="p-3 px-5">{{ especie.nombreEspecie }}</td>
            <td class="p-3 px-5">
              <select (change)="onLoteChange($event, especie.id)" class="bg-transparent">
                <option *ngFor="let lote of lotes" [value]="lote.iD_M">{{ lote.iD_M }}</option>
              </select>
            </td>
            <td class="p-3 px-5 flex justify-end">
              <button type="button" (click)="guardarSeleccion(especie.id)" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Guardar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  