<div class="container flex-1 text-gray-900 flex-center bg-gray-200 mt-16 ">
    <div class="">
    <h1 class="px-4 py-4 flex items-center">Seleccionar Especies</h1>
  </div>
  <div class="px-3 py-1 flex items-center">
    <table class="w-full text-md bg-white shadow-md rounded mb-4">
      <thead>
        <tr class="border-b">
          <th class="text-left p-3 px-5">Nombre</th>
          <th class="text-left p-3 px-5">Lote</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let especie of especies" class="border-b hover:bg-orange-100">
          <td class="p-3 px-5">{{ especie.NombreEspecie }}</td>
          <td class="p-3 px-5">
            <select (change)="onLoteChange($event, especie.Id)" class="bg-transparent">
              <option *ngFor="let loteId of uniqueLotes" [value]="loteId">{{ loteId }}</option>
            </select>
          </td>
          <td class="p-3 px-5 flex justify-end">
            <button type="button" (click)="guardarSeleccion(especie.Id)" class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Guardar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>