/* Estilos para el contenedor principal */
.main-container {
  display: flex;


.content-wrapper {
  transition: width 0.3s ease, margin-left 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* Estilos para el título de la gráfica */
.graph-title {
  font-size: 2rem;
  font-weight: bold;
  color: #1f12d7;
  text-align: right;
  margin-bottom: 1rem;
}

/* Estilos para la gráfica y el contenedor de cards */
.graph-and-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


h1 {

  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #007bff;
}


.graph-container {
  width: 75%;
  height: auto;
}

.title {
  text-align: center;
  color: #1f12d7;
}

.mm {
  margin-top: 100px;
}

.cards {
  padding-right: 100px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 720px) {
  .graph-and-card-container {
    flex-direction: column;
  }

  .graph-container, .card-container {
    width: 100%;
  }

  .main-container {
    padding-top: 1rem;
  }
}
