<div class="card {{cardColor}} rounded-lg p-4 shadow-md text-center bg-white shadow-md">
  <h3 class="text-lg font-semibold mb-2 text-gray-700">{{title}}</h3>
  <div class="flex justify-center items-center">
    <p class="text-3xl font-bold text-gray-800">{{value}}</p>
    <span [ngClass]="trendColor + ' ml-3 text-2xl font-bold'">{{trendIcon}}</span>
  </div>
  <p class="text-sm text-gray-600 mt-2" *ngIf="trendValue">
    {{ isTimeCard ? 'Anterior:' : 'Cambio:' }} {{trendValue}}
  </p>
   <ng-container [ngSwitch]="title.toLowerCase()">
    <a *ngSwitchCase="'temperatura'" 
       [routerLink]="['/temperatura', authService.getUserId()]" 
       class="text-blue-600 hover:text-blue-800 text-sm mt-2 inline-block">Ver reporte →</a>
    <a *ngSwitchCase="'tds'" 
       [routerLink]="['/grafica-tds', authService.getUserId()]" 
       class="text-blue-600 hover:text-blue-800 text-sm mt-2 inline-block">Ver reporte →</a>
    <a *ngSwitchCase="'ph'" 
       [routerLink]="['/grafica-ph', authService.getUserId()]" 
       class="text-blue-600 hover:text-blue-800 text-sm mt-2 inline-block">Ver reporte →</a>
  </ng-container>

</div>