<div class="card {{cardColor}} rounded-lg p-4 shadow-md text-center bg-white shadow-md">
  <h3 class="text-lg font-semibold mb-2 text-gray-700">{{title}}</h3>
  <div class="flex justify-center items-center">
    <p class="text-3xl font-bold text-gray-800">{{value}}</p>
    <span [ngClass]="trendColor + ' ml-3 text-2xl font-bold'">{{trendIcon}}</span>
  </div>
  <p class="text-sm text-gray-600 mt-2" *ngIf="trendValue">
    {{ isTimeCard ? 'Anterior:' : 'Cambio:' }} {{trendValue}}
  </p>
  <a *ngIf="!isTimeCard" [href]="'/graficas?lote=' + selectedLot" class="text-blue-600 hover:text-blue-800 text-sm mt-2 inline-block">Ver reporte →</a>
</div>

<!-- Mostrar la tasa de mortalidad por lote -->
<div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <div *ngFor="let lote of mortalidadPorLote" class="card bg-white p-4 rounded-lg shadow-md">
    <div class="card-header mb-2">
      <h3 class="text-lg font-semibold">Lote ID: {{ lote.loteId }}</h3>
    </div>
    <div class="card-body">
      <p class="text-gray-700">Tasa de Mortalidad: {{ lote.tasaMortalidad }}%</p>
      <p class="text-gray-700">Cantidad de Muertos: {{ lote.cantidadMuertos }}</p>
    </div>
  </div>
</div>
<!-- Llamar al componente de la tarjeta de alertas -->
