<!-- <app-flecha-despliegue></app-flecha-despliegue>
<app-tabla-especie></app-tabla-especie>

<app-alert label="This is an info alert" type="info"></app-alert>
<app-menu-lateral></app-menu-lateral> -->
<!-- -->
<!-- <app-alert label="This is an info alert" type="info"></app-alert>
<app-alert label="This is an info alert" type="warning"></app-alert>
<app-alert label="This is an info alert" type="danger"></app-alert> -->
<router-outlet></router-outlet> 

<!--<app-card-alerts
  header="Header"
  title="Success card title"
  content="Some quick example text to build on the card title and make up the bulk of the card's content."
  type="success">
</app-card-alerts>


<app-card-alerts
  header="Header"
  title="Danger card title"
  content="Some quick example text to build on the card title and make up the bulk of the card's content."
  type="danger">
</app-card-alerts>

<app-card-alerts
  header="Header"
  title="Warning card title"
  content="Some quick example text to build on the card title and make up the bulk of the card's content."
  type="warning">
</app-card-alerts> -->


