<app-menu-lateral (menuToggled)="onMenuToggle($event)"></app-menu-lateral>

<div class="flex flex-col w-full h-full">
  <!-- Contenido Principal -->
  <div class="flex-1 p-4 transition-all duration-300" [ngClass]="{'ml-64': isMenuOpen, 'ml-16': !isMenuOpen}">
    <!-- Sección de Tarjetas -->
    <div class="grid grid-cols-3 gap-4">
      <div class="card card-1 flex items-center justify-between">
        <div>
          <h5 class="text-2xl font-bold mb-2">Temperatura</h5>
          <p class="text-gray-700">{{ temperaturaValue }}</p>
        </div>
        <i class="fas" [ngClass]="{
          'fa-arrow-up': temperaturaTrend === 'up',
          'fa-arrow-down': temperaturaTrend === 'down'
        }"></i>
      </div>
      <div class="card card-2 flex items-center justify-between">
        <div>
          <h5 class="text-2xl font-bold mb-2">TDS</h5>
          <p class="text-gray-700">{{ tdsValue }}</p>
        </div>
        <i class="fas" [ngClass]="{
          'fa-arrow-up': tdsTrend === 'up',
          'fa-arrow-down': tdsTrend === 'down'
        }"></i>
      </div>
      <div class="card card-3 flex items-center justify-between">
        <div>
          <h5 class="text-2xl font-bold mb-2">pH</h5>
          <p class="text-gray-700">{{ phValue }}</p>
        </div>
        <i class="fas" [ngClass]="{
          'fa-arrow-up': phTrend === 'up',
          'fa-arrow-down': phTrend === 'down'
        }"></i>
      </div>
    </div>
    
    <!-- Sección de Gráfica y Descriptores -->
    <div class="flex mt-4">
      <div class="w-3/4 pr-4">
        <app-grafica [data]="monitoreoDataFiltrada"></app-grafica>
      </div>
      <div class="w-1/4">
        <app-fechas-mensajes [alertasFiltradas]="alertasFiltradas"></app-fechas-mensajes>
      </div>
    </div>

    <!-- Sección de Tabla de Datos -->
    <div class="mt-4">
      <app-tabla-sensor [data]="monitoreoDataFiltrada"></app-tabla-sensor>
    </div>
  </div>
</div>