<app-menu-lateral (menuToggled)="onMenuToggle($event)"></app-menu-lateral>
<div class="flex flex-col w-full h-full">
  <div class="flex-1 p-4 transition-all duration-300" [ngClass]="{'ml-64': isMenuOpen, 'ml-': !isMenuOpen}">
    <h1 class="text-center p-4 text-2xl font-bold custom-font custom-color">Control De monitoreo</h1>
    <div *ngIf="(globalAlertService.alert$ | async) as alertMessage" class="alert alert-danger">
      {{ alertMessage }}
    </div>
   
    <div class="mb-4 shadow-md">
      <app-lotes [monitoreoData]="monitoreoData" (loteSeleccionado)="onLoteChange($event)"></app-lotes>
    </div>
   
    <div class="flex flex-wrap mt-4">
      <!-- Columna izquierda: Cards (35%) -->
      <div class="w-full lg:w-[35%] pr-0 lg:pr-4 mb-4 lg:mb-0">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">ㅤ</h2>
        <div class="grid grid-cols-2 gap-4 mb-4">
          <app-cards-info 
            title="Temperatura" 
            [value]="temperaturaValue" 
            [trend]="temperaturaTrend" 
            [trendValue]="temperaturaTrendValue"
            [status]="temperaturaStatus">
          </app-cards-info>
          <app-cards-info 
            title="TDS" 
            [value]="tdsValue" 
            [trend]="tdsTrend" 
            [trendValue]="tdsTrendValue"
            [status]="tdsStatus">
          </app-cards-info>
          <app-cards-info 
            title="pH" 
            [value]="phValue" 
            [trend]="phTrend" 
            [trendValue]="phTrendValue"
            [status]="phStatus">
          </app-cards-info>
          <app-cards-info 
            title="ULTIMO REGISTRO" 
            [value]="ultimoRegistroHora" 
            [trendValue]="phTrendValue"
            [status]="'unassigned'">
          </app-cards-info>
        </div>
      </div>
     
      <!-- Columna derecha: Gráfica General (65%) -->
      <div class="w-full lg:w-[65%]">
        <div class="mb-8">
          <h2 class="text-xl font-semibold text-gray-800 mb-2">Gráfica General</h2>
          <app-grafica [data]="monitoreoDataFiltrada" [selectedLote]="selectedLote"></app-grafica>
        </div>
      </div>
    </div>
   
    <!-- Gráfica de Barras (debajo de las dos columnas) -->
    <div class="mt-8 lg:w-[65%] flex-wrap ">
 
    </div>
 
    <div class="mt-8">
      <app-fechas-mensajes [alertasFiltradas]="alertasFiltradas"></app-fechas-mensajes>
    </div>
  </div>
</div>