.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 12px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
  }
  
  label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: var(--linear-grad);
    transition: 0.3s;
  }
  
  input:focus ~ label {
    width: 100%;
  }