.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
  }
  
  input {
    width: 100%; /* Mantiene el ancho al 100% del contenedor padre */
    max-width: 400px; /* Establece un ancho máximo para hacer el input más ancho */
    padding: 12px 16px; /* Aumenta el padding lateral para hacerlo más espacioso */
    background-color: #f3f3f3;
    border-radius: 4px;
    outline: none;
  }

  .infield input {
    width: 100%;
    padding: 12px 16px;
    background-color: #f3f3f3;
    border-radius: 4px;
    outline: none;
  }
  
  
  label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: var(--linear-grad);
    transition: 0.3s;
  }
  
  input:focus ~ label {
    width: 100%;
  }