/* Estilos base */
.main-container {
  width: 100%;
  padding: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para el título */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  font-family: Arial, sans-serif;
  margin-bottom: 1rem;
}

/* Contenedor flexible para las columnas */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Columna de tarjetas */
.cards-column {
  flex: 1;
  min-width: 300px;
  max-width: 35%;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

/* Columna de gráfica */
.graph-column {
  flex: 2;
  min-width: 300px;
}

/* Estilos para los títulos de sección */
.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}



/* Estilos responsivos */
@media (max-width: 768px) {
  .main-container {
    padding: 0.5rem;
  }

  .flex-container {
    flex-direction: column;
  }

  .cards-column,
  .graph-column {
    max-width: 100%;
  }

  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Estilos para el menú lateral */
.ml-64 {
  margin-left: 16rem;
}

.ml-16 {
  margin-left: 4rem;
}

/* Ajustes adicionales para pantallas muy pequeñas */
@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 1.25rem;
  }

  .section-title {
    font-size: 1.1rem;
  }

}