
<link rel="icon" type="image/x-icon" href="favicon.ico">

<div class="menu-lateral">
  <!-- Sección del logo -->
  <div class="logo-container">
    <!-- Imagen pequeña encima del logo de la empresa -->
   
    
    <!-- Logo de la empresa -->
    <div class="logo">
      <strong>
        <img class="imagen-pequena" src="././././../../../../assets/Logopescamax.png" alt="IMG">
      <span class="logo-texto"><span class="azul">PESCA</span><span class="negro">MAX</span></span>
      </strong>
    </div>
  </div>

  <div class="barra">
  </div>
  <!-- Opciones de menú -->
  <ul class="opciones-menu">
    <li>
      <a href="#" class="menu_p" (click)="toggleSubMenu(0)">Dashboard <img src="../../../../assets/icons8-flecha-ampliar-16.png" alt=""></a>  
      <ul class="submenu" [ngClass]="{'activo': subMenuVisible === 0}">
        <li class="lista-opciones"><a href="#" class="opciones">Gráfica de Temperatura </a></li>
        <li class="lista-opciones"><a href="#" class="opciones">Gráfica de TDS</a></li>
        <li class="lista-opciones"><a href="#" class="opciones">Gráfica de Ph</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="menu_p" (click)="toggleSubMenu(1)">Gestión de parámetros <img src="../../../../assets/icons8-flecha-ampliar-16.png" alt=""></a>
      <ul class="submenu" [ngClass]="{'activo': subMenuVisible === 1}">
        <li class="lista-opciones"><a href="#" class="opciones">Crear Especie</a></li>
        <li class="lista-opciones"><a href="#" class="opciones">Modificar Especie</a></li>
        <li class="lista-opciones"><a href="#" class="opciones">Seleccionar Especie</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="menu_p" (click)="toggleSubMenu(2)">Sistema de alerta <img src="../../../../assets/icons8-flecha-ampliar-16.png" alt=""></a>
      <ul class="submenu" [ngClass]="{'activo': subMenuVisible === 2}">
        <li class="lista-opciones"><a href="#" class="opciones">Alertas recientes</a></li>
        <li class="lista-opciones"><a href="#" class="opciones">Historial de alertas</a></li>
      </ul>
    </li>

  
    <!-- Agrega más opciones de menú según sea necesario -->
  </ul>
</div>


