.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Para agregar un scroll si el contenido es muy largo */
}
.lista-opciones{
    list-style: none;
    padding-top: 10px;
    



}

.opciones{
text-decoration: none;
color: #333;
padding: 10px; 


}

.logo-container {
    position: relative;
}

.logo {
    margin-bottom: 20px;
    font-size: 24px; /* Tamaño del texto del logo */
    font-weight: bold;
    display: flex;
}

.logo-texto {
    font-size: 35px; /* Ajusta el tamaño de la letra según sea necesario */
    font-weight: bold;
    float: right 30px;
   flex: auto;
   text-align: right;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo-texto .azul {
    color: #007bff; /* Color azul para el texto */

}

.logo-texto .negro {
    color: #000000; /* Color negro para el texto */
    font-weight: 20px;
}

.azul {
    color: #007bff; /* Color azul para enlaces */
    text-decoration: none;
    
}

.imagen-pequena {
    flex: auto;
    
    width: 31px; /* Tamaño de la imagen */
    height: auto;
    align-items: center;
    margin: auto;
}

.opciones-menu {
    list-style: none;
    padding: 0;
    margin: 7; /* Elimina el margen para que los cuadros de menú estén pegados */
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px ;
   
    margin: 0;
}

.barra{

border-top: 1px solid #333;
margin: 80px 0 10px -20px;
padding-top: 20px;

}

.opciones-menu > li {
  
    
    margin-bottom: 7px; /* Ajusta la distancia entre los cuadros de menú */
    border-left:  3px solid #333 ;
    padding: 12px; /* Ajusta el espacio alrededor de los elementos de menú principal */
    transition: border-width 0.3s; /* Agrega una transición suave para la propiedad del borde */
}

.opciones-menu > li:hover {
    border-color: #007bff; /* Cambia el color del borde al azul cuando se pasa el ratón por encima */
}

.submenu {
    display: none;

    border-top: none; /* Elimina el borde superior */
    padding: 10px; /* Ajusta el espacio interior del submenú */
}

.opciones-menu > li .submenu.activo {
    display: block; /* Muestra el submenú activo */
    padding-top: 10px; /* Ajusta el padding superior del submenú para dejar espacio para el borde */
}