<div class="flex flex-col w-full h-full">
  <!-- Título de la página -->
  <h1 class="text-blue-500 text-center font-bold text-lg font-sans mb-4">Gráfica General</h1>
  <!-- Contenido Principal -->
  <div class="flex-1 p-4 transition-all duration-300" [ngClass]="{'ml-64': isMenuOpen, 'ml-16': !isMenuOpen}">
    <app-datapicker
      (dateRangeSelected)="onDateRangeSelected($event)"
      [minDate]="fechaMasAntigua"
      [maxDate]="fechaActual">
    </app-datapicker>
    <app-lotes [monitoreoData]="monitoreoData" (loteSeleccionado)="onLoteChange($event)"></app-lotes>
    
    <!-- New FechasMensajes component -->
    <app-fechas-mensajes [alertasFiltradas]="alertasFiltradas"></app-fechas-mensajes>

    <div *ngIf="mensajeAlerta" class="alert-message">
      {{ mensajeAlerta }}
    </div>
    <div class="grafica-container">
      <canvas id="MyChart">{{ chart }}</canvas>
    </div>
  </div>
</div>