<div class="text-gray-900 bg-gray-200">
  <div class="p-4 flex">
    <h1 class="text-3xl">Historial de Alertas</h1>
  </div>
  <app-datapicker (dateRangeSelected)="onDateRangeSelected($event)"></app-datapicker>

<div *ngIf="mensajeAlerta" class="alerta">{{ mensajeAlerta }}</div>

<table *ngIf="alertasFiltradas.length > 0">
  <!-- Encabezados de la tabla -->
  <tr>
    <th>Especie ID</th>
    <th>Nombre Especie</th>
    <th>Lote ID</th>
    <th>Descripción</th>
    <th>Fecha</th>
  </tr>
  <!-- Filas de la tabla -->
  <tr *ngFor="let alerta of alertasFiltradas">
    <td>{{ alerta.EspecieID }}</td>
    <td>{{ alerta.Nombre }}</td>
    <td>{{ alerta.LoteID }}</td>
    <td>{{ alerta.Descripcion }}</td>
    <td>{{ alerta.Fecha | date:'medium' }}</td>
  </tr>
   </table>
  </div>
