.alert-container {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  z-index: 1100;
  position: fixed;
  top: 1rem;
  right: 1rem;
  max-width: 400px;
  background-color: #fff; /* Añadir un fondo blanco para mejor visibilidad */
}

.alert-content {
  display: flex;
  align-items: center;
}

/* Clases para diferentes tipos de alertas */
.danger {
  @apply text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-red-50 dark:text-red-400 dark:border-red-800;
}

.warning {
  @apply text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-yellow-50 dark:text-yellow-300 dark:border-yellow-800;
}

.info {
  @apply text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-blue-50 dark:text-blue-400 dark:border-blue-800;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .alert-container {
    right: 50%;
    transform: translateX(50%); /* Centra horizontalmente la alerta */
    top: 1rem;
    width: 60%; /* Asegura que la alerta ocupe el 90% de la pantalla en móviles */
    max-width: none; /* Anula el max-width para que pueda usar el ancho completo disponible */
    padding: 0.5rem;
  }

  .alert-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .alert-content img {
    margin-bottom: 0.5rem;
  }

  .alert-content h3 {
    font-size: 1rem;
  }

  .alert-content div.text-sm {
    font-size: 0.875rem;
  }
}
