/* src/app/shared/components/molecules/alertas/alertas.component.css */
.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.danger {
  @apply text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-red-50 dark:text-red-400 dark:border-red-800;
}

.warning {
  @apply text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-yellow-50 dark:text-yellow-300 dark:border-yellow-800;
}

.info {
  @apply text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-blue-50 dark:text-blue-400 dark:border-blue-800;
}

