<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet"
/>
<div class="flex">
  <div class="menu-lateral fixed left-0 top-0 h-full w-[250px] bg-gray-800">
    <app-menu-lateral></app-menu-lateral>
  </div>

  <div class="ml-[250px] flex-1 p-4">
    <div class="text-gray-900 bg-gray-200 p-4 rounded shadow-md">
      <div class="h-[400px] overflow-auto"> <div class="flex lg:justify-between border-b-2 border-blue-600 pb-1">
          <h2 class="text-3xl text-gray-500 font-bold">Monitoreo Datos</h2>
          <div class="text-center flex-auto"></div>
          <div>
            <a href="#">
              <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg ">Todos</button>
            </a>
            <a href="#">
              <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg">Mas Recientes</button>
            </a>
            <a href="#">
              <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded-lg">Lote</button>
            </a>
          </div>
        </div>
        <table class="w-full text-md bg-white shadow-md rounded mb-4 mt-4">
          <thead>
            <tr class="border-b bg-white">
              <th class="text-left p-3 px-5">Geomenbrana</th>
              <th class="text-left p-3 px-5">Tds</th>
              <th class="text-left p-3 px-5">Temperatura</th>
              <th class="text-left p-3 px-5">Ph</th>
              <th class="text-left p-3 px-5">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of monitoreoData" class="border-b hover:bg-orange-100">
              <td class="p-3 px-5">{{ item.LoteID }}</td>
              <td class="p-3 px-5">{{ item.tds }}</td>
              <td class="p-3 px-5">{{ item.Temperatura }}</td>
              <td class="p-3 px-5">{{ item.PH }}</td>
              <td class="p-3 px-5">{{ item.FechaHora | date:'short' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
