.date-range-field {
    position: relative;
  }
  
  .mat-date-range-picker {
    position: absolute;
    top: 100%; /* Coloca el calendario justo debajo del campo de entrada */
    left: 0;
    z-index: 1;
    margin-top: 20px; /* Ajusta este valor para mover el calendario hacia abajo */
  }
  
  /* Asegúrate de que el contenedor principal tenga suficiente espacio */
  .main-content-container {
    width: 320px;
    padding-bottom: 300px; /* Ajusta este valor según el tamaño de tu calendario */
  }