<div>
  <app-datapicker
    (dateRangeSelected)="onDateRangeSelected($event)"
    [minDate]="fechaMasAntigua"
    [maxDate]="fechaActual">
  </app-datapicker>
  <label for="loteSelector">Seleccionar Lote: </label>
  <select id="loteSelector" (change)="onLoteChange($event)">
    <option *ngFor="let lote of lotes" [value]="lote">Lote {{ lote }}</option>
  </select>
</div>

<div *ngIf="mensajeAlerta" class="alert-message">
  {{ mensajeAlerta }}
</div>


<div class="alertas-dropdown">
  <h3 class="alertas-trigger">Fecha y Mensajes</h3>
  <div class="alertas-content" *ngIf="alertasFiltradas.length > 0">
    <div class="alertas-container">
      <table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Mensaje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alerta of alertasFiltradas">
            <td>{{ alerta.Fecha | date:'medium' }}</td>
            <td>{{ alerta.Descripcion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="chart-container">
  <canvas id="MyChart"></canvas>
 
</div>