<!-- Menú lateral -->
<div class="fixed top-0 left-0 h-full bg-[#F2F5F7] shadow-lg transition-all duration-300 overflow-hidden menu"
     [ngClass]="{'w-64': isMenuOpen && !isMobileView, 'w-full': isMenuOpen && isMobileView, 'w-0': !isMenuOpen}">
  <div class="flex flex-col h-full">
    <div class="p-4 border-b border-blue-400">
      <a [href]="'/home/' + userId" class="flex items-center">
        <img src="../../../../../assets/icons/Logo_pescamax.png" alt="PESCAMAX logo" class="w-8 h-8 mr-2">
        <span class="text-lg font-semibold text-black">PESCA<span class="text-gray-800">MAX</span></span>
      </a>
    </div>

    <nav class="flex-grow mt-6">
        <div class="px-2">
          <button (click)="toggleSubMenu(1)" class="flex items-center w-full py-4 menu-item">
            <img src="../../../../../assets/icons/grafico-de-negocios.png" alt="Dashboard" class="w-8 h-8 mr-3">
            <span class="text-sm font-medium">Panel De Control</span>
          </button>
          <!-- Submenú -->
          <div *ngIf="subMenuVisible === 1" class="ml-10 mt-2">
            <a [href]="'/home/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/grafico-de-linea.png" alt="Gráfica General" class="w-5 h-5 mr-2 ml-5">
              <span>Gráfica General</span>
            </a>
            <a [href]="'/temperatura/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/temperatura.png" alt="Temperatura" class="w-5 h-5 mr-2 ml-5">
              <span>Gráfica Temperatura</span>
            </a>
            <a [href]="'/grafica-tds/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/medidor-de-ph-digital.png" alt="TDS" class="w-5 h-5 mr-2 ml-5">
              <span>Gráfica de TDS</span>
            </a>
            <a [href]="'/grafica-ph/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/metros.png" alt="Ph" class="w-5 h-5 mr-2 ml-5">
              <span>Gráfica de Ph</span>
            </a><!-- ..
            <a [href]="'/tabla-datos/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/mesa.png" alt="Tablas" class="w-5 h-5 mr-2 ml-5">
              <span>Tablas</span>
            </a>-->
          </div>
        </div>

        <div class="px-2 mt-4">
          <button (click)="toggleSubMenu(2)" class="flex items-center w-full py-4 menu-item">
            <img src="../../../../../assets/icons/creador-de-contenido.png" alt="Gestión" class="w-8 h-8 mr-3">
            <span class="text-sm font-medium">Gestión de parámetros</span>
          </button>
          <div *ngIf="subMenuVisible === 2" class="ml-10 mt-2">
            <a [href]="'/crear-especie/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/crear-especie.png" alt="Crear especie" class="w-5 h-5 mr-2 ml-5">
              <span>Crear especie</span>
            </a>
            <a [href]="'/seleccionar-especie/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/seleccion-de-caracteristicas.png" alt="Seleccionar especie" class="w-5 h-5 mr-2 ml-5">
              <span>Seleccionar especie</span>
            </a>
            <a [href]="'/modificar-especie/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/editar.png" alt="Modificar especie" class="w-5 h-5 mr-2 ml-5">
              <span>Modificar especie</span>
            </a>
          </div>
        </div>

        <div class="px-2 mt-4">
          <button (click)="toggleSubMenu(3)" class="flex items-center w-full py-4 menu-item">
            <img src="../../../../../assets/icons/advertencia.png" alt="Alertas" class="w-8 h-8 mr-3">
            <span class="text-sm font-medium">Sistema de alertas</span>
          </button>
          <div *ngIf="subMenuVisible === 3" class="ml-10 mt-2">
            <a [href]="'/alertas-recientes/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/configuracion.png" alt="Configuracion De Alertas" class="w-5 h-5 mr-2 ml-5">
              <span>Configuracion De Alertas</span>
            </a>
            <a [href]="'/historial-alertas/' + userId" class="flex items-center py-2 menu-item">
              <img src="../../../../../assets/icons/regulacion.png" alt="Historial de alertas" class="w-5 h-5 mr-2 ml-5">
              <span>Historial de alertas</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>

<!-- Barra superior -->
<div class="fixed top-0 left-0 right-0 bg-[#F2F5F7] text-[#3B82F5] p-4 h-16 flex justify-between items-center shadow-md">
  <div class="flex items-center">
    <button class="text-[#3B82F5] focus:outline-none mr-4 hover-effect p-2 rounded" (click)="toggleMenu()">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <a [href]="'/home/' + userId" class="flex items-center">
      <img src="../../../../../assets/icons/Logo_pescamax.png" alt="PESCAMAX logo" class="w-8 h-8 mr-2">
      <span class="text-lg font-semibold text-blue-500">PESCA<span class="text-black">MAX</span></span>
    </a>
  </div>
<!-- En tu archivo de menú -->
<div class="flex items-center">
  <app-notification></app-notification>
  <img src="../../../../../assets/icons/userr.png" alt="Perfil" class="w-6 h-6 cursor-pointer hover:opacity-80 transition-opacity" (click)="toggleUserMenu()">
</div>
</div>

<!-- Dropdown del menú de usuario -->
<div *ngIf="isUserMenuVisible" class="absolute right-4 top-16 bg-white shadow-lg rounded-lg overflow-hidden">
  <a [href]="'/user-config/' + userId" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Perfil</a>
  <a href="#settings" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Ajustes</a>
  <button (click)="cerrarSesion()">Cerrar Sesión</button>
</div>

<!-- Contenido principal -->
<div class="content-wrapper">
  <!-- Aquí va el contenido de cada página -->

</div>
