<style>
  .table {
    width: 100%;
  }
  i {
    font-size: 1rem !important;
  }
  .table tr {
    border-radius: 20px;
  }
  .button-spacing {
    margin-right: 10px;
  }
  .table-container {
    max-height: 400px;
    overflow-y: auto;
  }
  thead th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .loading-spinner {
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .hover-bg-light-blue:hover {
    background-color: #add8e6;
  }
</style>


<div class="container mx-auto flex">
<div class="flex-1 p-4">
  <div class="text-black">
    <div class="">
      <div class="flex lg:justify-between pb-1">
        <h2 class="text-3xl text-gray-500 font-bold">Monitoreo Datos</h2>
        <button (click)="cargarDatos()" class="">
          <i class="material-icons">refresh</i>
          <span *ngIf="isLoading" class="loading-spinner"></span>
        </button>
        <div class="text-center flex-auto"></div>
        <div></div>
      </div>
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-black uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">Geomenbrana</th>
              <th scope="col" class="px-6 py-3">Tds</th>
              <th scope="col" class="px-6 py-3">Temperatura</th>
              <th scope="col" class="px-6 py-3">Ph</th>
              <th scope="col" class="px-6 py-3">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filteredData" class="border-b dark:bg-gray-800 dark:border-gray-700 hover-bg-light-blue dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ item.LoteID }}</th>
              <td class="px-6 py-4">{{ item.tds }}</td>
              <td class="px-6 py-4">{{ item.Temperatura }}</td>
              <td class="px-6 py-4">{{ item.PH }}</td>
              <td class="px-6 py-4">{{ item.FechaHora | date:'short' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>