<style>
  .table {
    width: 100%;
  }
  i {
    font-size: 1rem !important;
  }
  .table tr {
    border-radius: 20px;
  }
  .button-spacing {
    margin-right: 10px;
  }
  .table-container {
    max-height: 400px;
    overflow-y: auto;
  }
  thead th {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .loading-spinner {
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .hover-bg-light-blue:hover {
    background-color: #add8e6;
  }
</style>


<div class="container mx-auto flex">
<div class="flex-1 p-4">
  <div class="text-black">
    <div class="">
      <div class="flex lg:justify-between pb-1">
        <h2 class="text-3xl text-gray-500 font-bold">Monitoreo Datos</h2>
        <button (click)="cargarDatos()" class="">
          <i class="material-icons">refresh</i>
          <span *ngIf="isLoading" class="loading-spinner"></span>
        </button>
        <div class="text-center flex-auto"></div>
        <div></div>
      </div>
      <div class="overflow-x-auto">
        <div class="table-container max-h-96 overflow-y-auto">
          <table class="table w-full text-md bg-white shadow-md rounded mb-4 mt-4">
            <thead class="sticky top-0 bg-white">
              <tr class="border-b">
                <th class="text-left p-3 px-5">Geomenbrana</th>
                <th class="text-left p-3 px-5">Tds</th>
                <th class="text-left p-3 px-5">Temperatura</th>
                <th class="text-left p-3 px-5">Ph</th>
                <th class="text-left p-3 px-5">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data" class="border-b hover:bg-orange-100">
                <td class="p-3 px-5">{{ item.LoteID }}</td>
                <td class="p-3 px-5">{{ item.tds }}</td>
                <td class="p-3 px-5">{{ item.Temperatura }}</td>
                <td class="p-3 px-5">{{ item.PH }}</td>
                <td class="p-3 px-5">{{ item.FechaHora | date:'short' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
</div>