/* Estilos generales */
.bg-smoke-light {
  background-color: rgba(0, 0, 0, 0.4);
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.z-50 {
  z-index: 50;
}

/* Estilos responsivos */
/* Pantallas pequeñas (móviles) */
@media (max-width: 639px) {
  .hidden {
    display: none;
  }
  .sm\:hidden {
    display: block;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Pantallas medianas (tablets) */

@media (min-width: 640px) {
  .sm\:table-cell {
    display: table-cell;
  }
  .sm\:hidden {
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
/* Pantallas grandes (escritorio) */
@media (min-width: 1024px) {
  .table-row {
    display: table-row;
  }

  .table-cell {
    width: 8.33%; /* 1/12 */
  }

  .modal {
    padding: 2rem;
  }
}
