/* Estilos generales */
.container {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-container {
  width: 75%; /* Ocupa el 75% del ancho del contenedor */
}

.cards-container {
  width: 25%; /* Ocupa el 25% del ancho del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

