
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
  .grafica-container {
    width: 100%;
    height: 400px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  
  #MyChart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }